.calc-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

button {
  border: 1px solid white;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-2 {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prev-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .curr-operand {
  color: white;
  font-size: 2.5rem;
}

.bgColor {
  background-color: orange;
}
